<!-- create cart item -->
<form action="" autocomplete="off">
  <div class="container">
    <label for="" class="form-label">Name : </label>
    <input type="text" [(ngModel)]="cartItem.Name" [name]="'name'" />

    <label for="" class="form-label">Description : </label>
    <input type="text" [(ngModel)]="cartItem.Description" name="description" />

    <label for="" class="form-label">Cost : </label>
    <input type="number" [(ngModel)]="cartItem.Price" name="price" />

    <button class="btn" type="button" (click)="addToCartList($event)">
      Create
    </button>
  </div>
</form>
